node_modules/
**/node_modules/
dist/
build/
.expo/
**/android/.gradle/
**/android/app/build/
**/.env
**/.env.*
!**/.env.example
*.local
.cache/
coverage/
.DS_Store
Thumbs.db
*.log
.idea/
.vscode/
uploads/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
_backup_env/
*.pem
.turbo/
